body {
	font-family: "Courgette", cursive;
	margin: 20px;
}
img {
	width: 75px;
	margin: 10px auto;
	display: block;
}
p {
	margin: 10px;
	font-family: "Patrick Hand", cursive;
	text-align: center;
	border: 2px solid purple;
	border-radius: 50%;
}
h2,
h3 {
	margin: 10px;
	padding: 10px;
}
.container {
	max-width: 100%;
}
.col {
	margin: 10px;
}
.card {
	margin: 10px;
	text-align: center;
	background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.border-warning {
	border: 5px solid orange;
	border-radius: 30%;
}
#weather {
	border: 7px solid blue;
}
.border-info {
	border: 5px solid orange;
	border-radius: 30%;
}
#cardBorder {
	border: 5px solid purple;
	border-radius: 50%;
}
/* need to fix positioning!!! */
#current-weather {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#current-city {
	text-align: center;
	margin: 20px;
	padding: 30px;
}
h5 {
	padding: 10px;
	text-align: center;
	color:blue;
	text-transform: capitalize;
}
